@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.a {
	color: #343434;
	font-family: Poppins;
	font-size: 26px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	padding: 0 15px;
}
html {
	scroll-behavior: smooth;
}
a {
	text-decoration: none;
}
.rm {
	color: #4c4c4c;
	font-family: Poppins;
	font-size: 36px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}
.im {
	color: #343434;
	font-family: Poppins;
	font-size: 35px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

.f {
	color: #4c4c4c;
	font-family: Poppins;
	font-size: 30px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

.imm {
	color: #6930c3;
	font-family: Poppins;
	font-size: 35px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}




.headline {
 color: #E6E6E6;
font-family: Poppins;
font-size: 26px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.about{
	color: #FFF;
font-family: Poppins;
font-size: 64px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.inset {

}
.white {
  color: white;
}
.gray {
  color: #446;
}

.full {
  height: 100vh;
}

.center {
  display: grid;
		place-items: center;

}

.gradient {
  background: linear-gradient(rgba(14, 62, 151, 0.5) 50%, black);
}


